extends ../_layout

block variables
  - var title = 'Perfrunner - automation tool to track website performance'
  - var description = 'How to track and automate gathering web vitals and other performance metrics for the website against different network, CPU or cache conditions'
  - var keywords = 'perfrunner-cli, perfrunner, performance, fcp, first-contentful-paint, performance-metrics, puppeteer, front-end, webtesting, performance-testing, websitespeed, monitoring'
  - var canonical = 'https://drag13.io/posts/perfrunner-intro/index.html'
  - var img = '~/img/kdpv/perfrunner-intro.jpg'

block content
  article.post
    include:highlight:markdown-it(html) content.md
    p.tag [02.08.2020] #perfrunner-cli #perfrunner #performance #fcp #first-contentful-paint #performance-metrics #puppeteer #front-end #webtesting #performance-testing
