extends ../_layout

block variables
  - var title = 'Advanced TypeScript Tips and Tricks - case study'
  - var description = 'It would seem that in 2022 it is a bit too late to talk about TypeScript - the technology is well known and popular. Despite this, some times TypeScript still used half-heartedly. Simple type annotations, null checking and nothing more. Therefore, I brought some interesting, purely practical cases to show mighty TypeScript in action!'
  - var keywords = 'typescript, typescript-tricks, typescript-advanced'
  - var canonical = 'https://drag13.io/posts/typescript-tips-tricks-case-study/index.html'

block content
  article.post
    include:highlight:markdown-it content.md
    p.tag [03.05.2022] typescript typescript-tricks
