extends ../_layout

block variables
  - var title = 'React, Rescript, Vite - як ствоити проект'
  - var description = 'Коротка інструкція як створити новий React застосунок на мові ReScript за допомогою Vite'
  - var keywords = 'rescript react vite guide how-to webdev'
  - var canonical = 'https://drag13.io/posts/rescript-react-vite-guide-ua/index.html'

block content
  article.post
    include:highlight:markdown-it content.md
    p.tag [03.11.2023] rescript react vite
