extends ../_layout

block variables
  - var title = 'NextJS with prettier, eslint, husky and test - short guide'
  - var description = 'Learn how to create a Next.js app with Prettier, ESLint, Husky, Jest, and deploy it on Azure. Guide covers setting up a new project, configuring Prettier and ESLint, using Husky for pre-commit hooks, writing tests with Jest, and deploying to Azure'
  - var keywords = 'nextjs, react, new-project, how-to, prettier, eslint, husky'
  - var canonical = 'https://drag13.io/posts/create-new-nextjs-app-with-prettier-eslint-tests/index.html'

block content
  article.post
    include:highlight:markdown-it content.md
    p.tag [09.09.2023] nextjs, react, prettier, husky, how-to
