extends ../_layout

block variables
  - var title = 'NextJs and New Server Components'
  - var description = 'This article outlines the benefits, rules and limitations of newly added Next.JS server components'
  - var keywords = 'nextjs, next, server components, server-components, react, reactjs, performance, next13.4'
  - var canonical = 'https://drag13.io/posts/nextjs-new-server-components/index.html'

block content
  article.post
    include:highlight:markdown-it(html) content.md
    p.tag [14.08.2023] #nextjs #next #react #servercomponents #performance
